.header {
  background-color: #128c7e;
}

.header__top {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__top > p {
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.header__topRight {
  display: flex;
}

.icon-button {
  color: white;
  margin-left: 10px;
}

.header__tabs {
  display: flex;
  color: white;
}

.header__tabs > .MuiSvgIcon-root {
  padding: 10px;
  color: white;
}

.header__tabsButton {
  border: 0px;
  outline-width: 0;
  background-color: transparent;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding: 10px;
  border-bottom: 3px solid #128c7e;
  flex: 1;
}
.header__tabsButton:hover {
  transition-delay: 200ms;
  transition-duration: 300ms;
  border-bottom: 3px solid white;
  background-color: #00000030;
}

.active-tab {
  border-bottom: 3px solid white;
}

.popup-content {
  border-radius: 5px;
}

.popup__list {
  flex: 1;
  list-style-type: none;
  padding: 10px;
}

.popup__item {
  padding: 5px;

  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.right_top_menu {
  background-color: white;
  width: 200px;
  margin-left: auto;
  padding: 10px;
  margin-right: 10px;
  position: absolute;
  right: 0;
  top: 2;
}

.right_top_menu > p {
  font-size: 15px;
  margin-bottom: 10px;
}

.right_top_menu > button {
  width: 100%;
  font-size: 14px;
  background-color: green;
  border: 0;
  color: white;
  letter-spacing: 3px;
  padding: 5px;
}

.right_top_menu > button:hover {
  background-color: black;
}
