.chat-box {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #ece5dd;
}

.chat-box__header {
  background-color: #128c7e;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* position: -webkit-sticky; */
  /* position: sticky;
  top: 0; */
}

.chat-box__header > .MuiIconButton-root {
  color: white;
  margin-left: -10px;
}

.chat-box__headerInfo {
  flex: 1;
  margin-left: 10px;
}

.chat-box__headerInfo > h3 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-bottom: 7px;
}

@media screen and (max-width: 576px) {
  .chat-box__headerInfo > h3 {
    font-size: 14px;
    margin-bottom: 7px;
  }
}

.chat-box__headerInfo > p {
  font-size: 15px;
  color: lightgray;
}

@media screen and (max-width: 576px) {
  .chat-box__headerInfo > p {
    font-size: 13px;
  }
}

.chat-box__headerRight {
  display: flex;
  justify-content: space-between;
}

.chat-box__headerRight > .MuiIconButton-root {
  color: white;
  margin-right: 0px;
}

.chat-box__body {
  background-color: #ece5dd;
  flex: 1;
  padding: 10px;
  padding-top: 20px;

  /* overflow-wrap: break-word; */
}

.chat-box__senderMessage {
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 25px;
  max-width: 80%;
  position: relative;
  font-size: 15px;
}

.chat-box__receiverMessage {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-box__senderMessage > .chat-box__timestamp {
  font-size: x-small;
  margin-left: 10px;
  margin-right: 5px;
}

.chat-box__senderMessage > .chat-box__name {
  font-size: x-small;
  position: absolute;
  top: -15px;
}

.chat-box__footer {
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 5px;
}

.chat-box__footer > .MuiIconButton-root {
  background-color: #128c7e;
  color: white;
  margin-left: 5px;
  font-size: 15px;
}

.chat-box__search {
  flex: 1;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.chat-box__search > form {
  flex: 1;
  display: flex;
}

.chat-box__search > form > input {
  font-size: 15px;
  outline-width: 0;
  border: 0;
  height: 30px;
  flex: 1;
  width: 10px !important;
  background-color: transparent;
}

.chat-box__searchRightIcons {
  display: flex;
  align-items: center;
}

.chat-box__searchRightIcons > .MuiIconButton-root {
  font-size: 20px;
}

.chat-box__searchFileButton > .MuiIconButton-root {
  transform: rotate(-50deg);
  font-size: 20px;
}
